/* <!-- Постоянные клиенты --> */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__inner {
    text-align: center;
    color: #fff;
    height: 92px;

    @media screen and (min-width: 480px) {
      // width: 50%;
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }

  // @media screen and (min-width: 480px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin: -15px;
  // }

  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    // font-size: 36px;
    // line-height: 1.17;
    text-align: center;

    font-size: 28px;
    line-height: 1.18px;
  }

  &__label {
    // width: 170px;
    // height: 92px;
    width: 100%;
    height: 100%;
    border: 1px solid getColor('background-social-links');
    border-radius: 4px;
    transition: border-color var(--transform);

    &:hover {
      border-color: #2196f3;
    }

    &:hover .clients__icon {
      fill: #2196f3;
    }
  }

  &__icon {
    fill: getColor('background-social-links');
    transition: fill var(--transform);
  }
}

.clients__row {
  @extend %list;
  // padding: 0;
  // margin: 0;
  // list-style: none;
  // display: flex;
  // flex-wrap: wrap;
  // margin: -15px;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

// .clients__inner:not(:last-child) {
//   margin-right: 30px;
// }
