.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;

  &:hover,
  &:focus {
    fill: #2196f3;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    background-color: #fff;
    padding: 48px 83px 48px 40px;
    text-align: center;
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    // top: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &.is-open {
      display: block;
      // position: fixed;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

// .navigation,
// .contacts {
//   height: 50px;
//   width: 140px;
// }

// .navigation {
//   outline: 1px solid teal;
// }

// .contacts {
//   outline: 1px solid orange;
// }
