/* <!-- Шапка сайта -->
  <!-- Верхняя линия --> */
.page-header {
  border-bottom: 1px solid getColor('line-border');

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
}
